@import 'reset.css';
@import 'layout.css';
@import 'fonts.css';
@import 'animation.css';
@import 'adaptive.css';
body {
    background-color: #010016;
}
.section-1 {
    width: 100vw;
    height: 62.66vw;
}
.lights {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block {
    overflow: hidden;
}

.text {
    display: inline-block;
    color: #AD8AFF;
    font-size: 7vw;
    font-weight: bold;
    margin-top: 12vw;
    width: 400%;
}
.section-2 {
    width: 100vw;
    height: 46.93vw;
}
.star_img {
    position: absolute;
    width: 6.82vw;
    height: 6.82vw;
}
.star_img_1 {
    top: 60vw;
    left: 5vw;
}
.star_img_2 {
    top: 64vw;
    left: 15vw;
}
.star_img_3 {
    top: 60vw;
    left: 25vw;
}
.star_img_4 {
    top: 71vw;
    left: 3vw;
}
.star_img_5 {
    top: 74vw;
    left: 20vw;
}
.star_img_6 {
    top: 73vw;
    left: 33vw;
}
.star_img_7 {
    top: 82vw;
    left: 10vw;
}
.star_img_8 {
    top: 84vw;
    left: 25vw;
}
.star_img_9 {
    top: 89vw;
    left: 2vw;
}
.star_img_10 {
    top: 92vw;
    left: 17vw;
}
.star_img_11 {
    top: 94vw;
    left: 30vw;
}

.advice {
    color: aliceblue;
    margin-top:0.5vw;
    margin-left: 45vw;
    font-weight: bold;
    font-size: 3vw;
}
.wish_img {
    position: absolute;
}
.section-2 {
    width: 100vw;
    height: 31.25vw;
}

.words_img {
    width: 29.43vw;
    height: 16.15vw;
    margin-top: 55vw;
    margin-left: 6vw;
}
.fall_text {
    color: rgb(0, 0, 0);
    top: 2000px;
    background-color: #d9d9d9;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
}
.eye_img_1 {
    width: 12.97vw;
    height: 8.91vw;
    position: absolute;
    top: 145vw;
    right: 15.63vw;
}
.eye_img_2 {
    width: 12.97vw;
    height: 8.91vw;
    position: absolute;
    top: 145vw;
    right: 31.25vw;
}
.eye_img_3 {
    width: 12.97vw;
    height: 8.91vw;
    position: absolute;
    top: 156vw;
    right: 10.42vw;
}
.eye_img_4 {
    width: 12.97vw;
    height: 8.91vw;
    position: absolute;
    top: 156vw;
    right: 26.04vw;
}
.z_img_1 {
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    top: 147vw;
    right: 19.79vw;
}
.z_img_2 {
    width: 4.50vw;
    height: 4.50vw;
    position: absolute;
    top: 147vw;
    right: 35.16vw;
}
.z_img_3 {
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    top: 158vw;
    right: 280px;
}
.z_img_4 {
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    top: 158vw;
    right: 570px;
}
.line_img {
    position: absolute;
    top: 175vw;
    width: 55.99vw;
    height: 21.77vw;
}
.sss {
    position: absolute;
    width: 33.44vw;
    height: 29.06vw;
    left: 60vw;
}
.me {
    
    color: #AD8AFF;
    font-size: 7vw;
    font-weight: bold;
    margin-top: 35vw;
    margin-left: 2vw;
    
}

